In [1]:
#DataFrame类型：由共用相同索引的一组列组成
    #是一个表格型的数据类型，每列值类型可以不同
    #既有行索引(index)[axis=0]、也有列索引(columns)[axis=1]
    #常用与表达二维数据，但可以表达多维数据
    #是二维带‘标签’数组

In [2]:
#DataFrame类型可以由如下类型创建：
    #1.二维ndarray对象
    #2.由一维ndarray、列表、字典、元组或Series构成的字典
    #3.Series类型
    #4.其他的DataFrame类型

In [3]:
##1.二维ndarray对象
import pandas as pd
import numpy as np
d = pd.DataFrame(np.arange(10).reshape(2,5))
d  #行索引(0,1)  列索引(0,1,2,3,4)

   0  1  2  3  4
0  0  1  2  3  4
1  5  6  7  8  9

In [4]:
#2.由一维ndarray、列表、字典、元组或Series构成的字典
    #2.1从一维ndarray对象字典创建
dt = {'one':pd.Series([1,2,3],index=['a','b','c']),'two':pd.Series([9,8,7,6],index=['a','b','c','d'])}
d = pd.DataFrame(dt)
d  #自定义列索引和行索引

   one  two
a  1.0    9
b  2.0    8
c  3.0    7
d  NaN    6

In [6]:
pd.DataFrame(dt,index=['b','c','d'],columns=['two','three'])

   two three
b    8   NaN
c    7   NaN
d    6   NaN

In [7]:
    #2.2从列表类型的字典创建
d1 = {'one':[1,2,3,4],'two':[9,8,7,6]}
d = pd.DataFrame(d1,index=['a','b','c','d'])
d

   one  two
a    1    9
b    2    8
c    3    7
d    4    6

In [8]:
d.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [9]:
d.columns

Index(['one', 'two'], dtype='object')

In [10]:
d.values

array([[1, 9],
       [2, 8],
       [3, 7],
       [4, 6]])

In [11]:
d['two']#获取一列数据

a    9
b    8
c    7
d    6
Name: two, dtype: int64

In [13]:
d.ix['c']#获取一行数据

one    3
two    7
Name: c, dtype: int64

In [14]:
d['one']['b']#获取指定数据

2