In [1]:
#数据的基本统计分析函数
    #适用于Series和DataFrame类型
        #.sun():计算数据的总和，按0轴计算，下同
        #.count():费NAN值的数量
        #.mean() .median():计算数据的算术平均值、算术中位数
        #.var() .std():计算数据的方差、标准差
        #.min() .max():计算数据的最小值、最大值
    #适用于Series类型
        #.argmin() .argmax():计算数据最大值、最小值所在位置的索引位置(自动索引)
        #.idxmin() .idxmax():计算数据最大值、最小值所在位置的索引(自定义索引)
    #.describe():针对0轴(各列)的统计汇总[几乎囊括了所有方法的结果]适用于Series和DataFrame类型.

In [2]:
import numpy as np
import pandas as pd
    #Series类型的describe()方法
a = pd.Series([9,8,7,6],index=['a','b','c','d'])
a

a    9
b    8
c    7
d    6
dtype: int64

In [3]:
a.describe()

count    4.000000
mean     7.500000
std      1.290994
min      6.000000
25%      6.750000
50%      7.500000
75%      8.250000
max      9.000000
dtype: float64

In [4]:
 type(a.describe())   #Series类型

pandas.core.series.Series

In [5]:
a.describe()['count']

4.0

In [6]:
a.describe()['max']

9.0

In [7]:
    #DataFrame类型的describe()方法
b = pd.DataFrame(np.arange(20).reshape(4,5),index=['c','a','d','b'])
b.describe()

               0          1          2          3          4
count   4.000000   4.000000   4.000000   4.000000   4.000000
mean    7.500000   8.500000   9.500000  10.500000  11.500000
std     6.454972   6.454972   6.454972   6.454972   6.454972
min     0.000000   1.000000   2.000000   3.000000   4.000000
25%     3.750000   4.750000   5.750000   6.750000   7.750000
50%     7.500000   8.500000   9.500000  10.500000  11.500000
75%    11.250000  12.250000  13.250000  14.250000  15.250000
max    15.000000  16.000000  17.000000  18.000000  19.000000

In [8]:
type(b.describe()) #DataFrame类型

pandas.core.frame.DataFrame

In [9]:
b.describe()[2]

count     4.000000
mean      9.500000
std       6.454972
min       2.000000
25%       5.750000
50%       9.500000
75%      13.250000
max      17.000000
Name: 2, dtype: float64

In [10]:
b.describe().loc['max']  #视频中的.ix现在不推荐

0    15.0
1    16.0
2    17.0
3    18.0
4    19.0
Name: max, dtype: float64

In [11]:
b

    0   1   2   3   4
c   0   1   2   3   4
a   5   6   7   8   9
d  10  11  12  13  14
b  15  16  17  18  19

In [12]:
b.sum() #按0轴计算，每列数据的总和

0    30
1    34
2    38
3    42
4    46
dtype: int64

In [13]:
b.sum().sum()  #所有数据的总和

190