In [1]:
#Pandas库的数据类型操作(如何改变Series和DataFrame对象)
    #增加或重排：重新索引
    #删除：drop

In [6]:
#1.重新索引：.reindex()能够改变或重排Series和DataFrame索引
    #.reindex(index=None,columns=None,...)的参数
    #index,columns:新的行列自定义索引顺序
    #fill_value:重新索引中，用于填充缺失位置的值
    #method:填充方法，ffill当前值向前填充，bfill向后填充
    #limit:最大填充量
    #copy:默认True，生成新的对象，False时，新旧相等不复制
import pandas as pd
d1 = {'城市':['北京','上海','广州','深圳','沈阳'],
     '环比':[101.5,101.2,101.3,102.0,100.1],
     '同比':[120.7,127.3,119.4,140.9,101.4],
     '定基':[121.4,127.8,120.0,145.5,101.6]}
d = pd.DataFrame(d1,index=['c1','c2','c3','c4','c5'])
d

       同比  城市     定基     环比
c1  120.7  北京  121.4  101.5
c2  127.3  上海  127.8  101.2
c3  119.4  广州  120.0  101.3
c4  140.9  深圳  145.5  102.0
c5  101.4  沈阳  101.6  100.1

In [7]:
d =d.reindex(index=['c5','c4','c3','c2','c1'])#重排index
d

       同比  城市     定基     环比
c5  101.4  沈阳  101.6  100.1
c4  140.9  深圳  145.5  102.0
c3  119.4  广州  120.0  101.3
c2  127.3  上海  127.8  101.2
c1  120.7  北京  121.4  101.5

In [8]:
d = d.reindex(columns=['城市','同比','环比','定基'])#重排columns
d

    城市     同比     环比     定基
c5  沈阳  101.4  100.1  101.6
c4  深圳  140.9  102.0  145.5
c3  广州  119.4  101.3  120.0
c2  上海  127.3  101.2  127.8
c1  北京  120.7  101.5  121.4

In [9]:
newc = d.columns.insert(4,'新增')#4表示columns的位置 
newd = d.reindex(columns=newc,fill_value=200)#新增一个columns并赋值
newd

    城市     同比     环比     定基   新增
c5  沈阳  101.4  100.1  101.6  200
c4  深圳  140.9  102.0  145.5  200
c3  广州  119.4  101.3  120.0  200
c2  上海  127.3  101.2  127.8  200
c1  北京  120.7  101.5  121.4  200

In [10]:
d.index#Series和DataFrame的索引都是Index类型，Index对象是不可修改类型

Index(['c5', 'c4', 'c3', 'c2', 'c1'], dtype='object')

In [11]:
d.columns

Index(['城市', '同比', '环比', '定基'], dtype='object')

In [12]:
#对Index对象的常用方法：
    #.append(idx):连接另一个Index对象，产生新的Index对象
    #.diff(idx):计算差集，产生新的Index对象
    #.intersection(idx):计算交集
    #.union(idx):计算并集
    #.delete(loc):删除loc位置处的元素
    #.insert(loc,e):在loc位置增加一个元素e

In [13]:
d

    城市     同比     环比     定基
c5  沈阳  101.4  100.1  101.6
c4  深圳  140.9  102.0  145.5
c3  广州  119.4  101.3  120.0
c2  上海  127.3  101.2  127.8
c1  北京  120.7  101.5  121.4

In [16]:
nc = d.columns.delete(2)
ni = d.index.insert(5,'c0')
nd = d.reindex(index=ni,columns=nc,fill_value=200)
nd

     城市     同比     定基
c5   沈阳  101.4  101.6
c4   深圳  140.9  145.5
c3   广州  119.4  120.0
c2   上海  127.3  127.8
c1   北京  120.7  121.4
c0  200  200.0  200.0

In [23]:
#使用method方法:好像index必须为数字或纯字母(ASCII码)才能用
import pandas as pd
import numpy as np
d2 = {'城市':['安徽','江西'],'省会':['合肥','南昌']}
a = pd.DataFrame(d2,index=['c','d'])
a

   城市  省会
c  安徽  合肥
d  江西  南昌

In [26]:
ai = a.index.insert(2,'e')

In [27]:
na = a.reindex(index=ai,method='ffill')
na

   城市  省会
c  安徽  合肥
d  江西  南昌
e  江西  南昌

In [60]:
#删除指定索引对象
    #.drop()能够删除Series和DataFrame指定行或列索引
a = pd.Series([9,8,7,6],index=['a','b','c','d'])
a

a    9
b    8
c    7
d    6
dtype: int64

In [61]:
a.drop(['b','c'])

a    9
d    6
dtype: int64

In [62]:
d

    城市     同比     环比     定基
c5  沈阳  101.4  100.1  101.6
c4  深圳  140.9  102.0  145.5
c3  广州  119.4  101.3  120.0
c2  上海  127.3  101.2  127.8
c1  北京  120.7  101.5  121.4

In [63]:
d.drop('c5')#drop()默认操作0轴上的元素

    城市     同比     环比     定基
c4  深圳  140.9  102.0  145.5
c3  广州  119.4  101.3  120.0
c2  上海  127.3  101.2  127.8
c1  北京  120.7  101.5  121.4

In [66]:
d.drop('同比',axis=1)

    城市     环比     定基
c5  沈阳  100.1  101.6
c4  深圳  102.0  145.5
c3  广州  101.3  120.0
c2  上海  101.2  127.8
c1  北京  101.5  121.4